aiogram==3.18.0
python-dotenv==1.0.1
requests==2.32.3
apscheduler==3.11.0
openai==1.66.3
gspread==6.0.2
asyncpg>=0.27.0
psycopg2-binary==2.9.3
gunicorn==20.1.0
pytz==2024.1
httpx==0.27.0  # ✅ Добавить обязательно для поддержки прокси в openai
httpx[socks]==0.27.0
PySocks


